{% extends "layout.html" %}

{% block body %}



<div class="row">

  <div class="col-md-4">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="card mb-3">
          <h5 class="fw-bold"> {{ message }}</h5>
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="card">
      <h4 class="fw-bold mb-4">Formualrio de tareas</h4>
      <form action="/create_task" method="POST">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"><strong>Nombre de la actividad</strong></label>
          <input type="text" class="form-control" name="titulo" placeholder="Nombre de la actividad">
        </div>
  
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"><strong>Descripcion:</strong></label>
          <textarea class="form-control" name="descripcion" rows="3"></textarea>
        </div>
        
        <select name="Estado" class="form-select mb-3" aria-label="Default select example">
          <option selected>Seleccione un estado</option>
          <option value="Iniciada">Iniciada</option>
          <option value="pendiente">pendiente</option>
          <option value="En proceso">En proceso</option>
        </select>
    
        <div class="col-12">
          <button class="btn btn-submit w-100">Guardar</button>
        </div>
      </form>
    </div>
  </div>


  <div class="col-md-8">

    <div class="col-12 mb-3">
      
      <button  onclick="location.href='{{ url_for('Tareas.export_tasks') }}'" class="btn btn-submit col-md-12 mb-3">
        <h5 class="fw-bold ">Importar Datos</h5>
      </button>

      <form class="col-md-12 d-flex align-items-center " action="/import_tasks" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".json" class="form-control me-4">
        <button class="btn btn-submit col-md-3">
            <h5 class="fw-bold mb-1">Exportar Datos</h5>
        </button>
      </form>

    </div>

    <table>
      <thead>
        <tr>
          <th>Tituto</th>
          <th>Descripcion</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for tasks in taskList %}
          <tr>
            <td>{{tasks.titulo}}</td>
            <td>{{tasks.descripcion}}</td>
            <td>{{tasks.estado}}</td>
            <td> 
              <div>
                <button title ="Editar" onclick="location.href='{{ url_for('Tareas.UpdTask', id=tasks.id) }}'"
                  {% if tasks.estado|lower == 'finalizado' %}disabled{% endif %}> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                  </svg>
                </button>

                <button title ="Finalizar" onclick="location.href='{{ url_for('Tareas.EndTask', id=tasks.id) }}'"
                  {% if tasks.estado|lower == 'finalizado' %}disabled{% endif %}>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slash-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708"/>
                  </svg>
                </button>

                <button title ="Eliminar" onclick="location.href='{{ url_for('Tareas.DelTask', id=tasks.id) }}'"
                {% if tasks.estado|lower != 'finalizado' %}disabled{% endif %}>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                  </svg>
                </button>

              </div>
            </td>
          </tr>
          {%endfor%}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}